body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-table {
  margin: 20px;
}
.main-table, .main-table th, .main-table td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  min-width: 1em;
}
.main-table th {
  background-color: #f0f0f0;
}
.App {
  display: flex;
}
.form {
  margin-top: 40px;
  margin-left: 20px;
}
.imp {
  color: transparent;
  background-color: #f0f0f0;
  font-size: 5px;
}